footer 
    section.footer__criteria
        .container 
            .row 
                .col-md-6.col-lg-3
                    i.fas.fa-truck.fa-3x 
                    h5 Miễn phí giao hàng
                .col-md-6.col-lg-3
                    i.fas.fa-tshirt.fa-3x 
                    h5 30 ngày đổi sản phẩm
                .col-md-6.col-lg-3
                    i.fas.fa-box-open.fa-3x 
                    h5 Ưu đãi hấp dẫn
                .col-md-6.col-lg-3
                    i.fas.fa-phone-volume.fa-3x 
                    h5 Hotline 1900 633 694   
    section.footer__main
        .container-fuild
            .row
                .footer__main__content.col-sm-6.col-md-6.col-lg-3
                    h4 CÔNG TY CỔ PHẦN HBD
                    ul
                        li 
                            i.fas.fa-store  47 Đường Đinh Điền, Phường Lam Sơn, Thành phố Hưng Yên, Tỉnh Hưng Yên
                        li
                            i.fas.fa-phone-volume  1900 633 694
                        li 
                            i.fas.fa-envelope  info@sevenam.vn
                        li 
                            i.fas.fa-map-marker-alt  Hệ thống cửa hàng
                .footer__main__content.col-sm-6.col-md-6.col-lg-3
                    h4 CHÍNH SÁCH
                    ul
                        li
                            a(href='') Điều khoản sử dụng
                        li
                            a(href='') Hướng dẫn thanh toán
                        li
                            a(href='') Hướng dẫn mua hàng
                        li
                            a(href='') Chính sách vận chuyển
                        li
                            a(href='') Chính sách đổi trả
                        li
                            a(href='') Chính sách bán hàng và bảo hành
                        li
                            a(href='') Chính sách bảo vệ thông tin khách hàng
                        li
                            a(href='') Quyền lợi sinh nhật của khách hàng        
                .footer__main__content.col-sm-6.col-md-6.col-lg-3
                    h4 VỀ SEVEN.AM
                    ul
                        li
                            a(href='') Giới thiệu
                        li
                            a(href='') Tin tức
                        li
                            a(href='') Tuyển dụng
                        li
                            a(href='') Liên hệ
                        li
                            a(href='') Hợp tác kinh doanh
                .footer__main__content.col-sm-6.col-md-6.col-lg-3
                    h4 ĐĂNG KÝ NHẬN TIN
                    p Hãy đăng ký nhận tin để nhận được những thông tin hữu ích và những chương trình khuyến mãi hấp dẫn của Seven.AM!
                    form.form-inline(action="")
                        input.form-control.mr-2(type='text' placeholder='Email của quý khách')
                        button(type='button') Gửi
                    img(src="../anh/logosva.png", alt="logo")
               

                       
                        
